.navheader a{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

.navheader{
    margin-top: 20px;
}

.navheader .navsel{
    margin-right: 50px;
}

.navheader .navsel li{
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: none;
    text-align: center;
}

.navheader .navsel .mainmenu li a:hover{
    background-color: grey;
    color: white;
}

.navheader .navhead{
    margin-left: 70px;
}

.navsel > li{
    float: left;
    position: relative;
    width: 160px;
}

.submenu {
    visibility: hidden;
    padding-right: 40px;
    padding: 0px 0px 10px 0px;
    text-align: center;
    position: absolute;
    background-color: white;
    width: 160px;
}

.navsel > li:hover .submenu{
    visibility: visible;
}

.submenu > li > a:hover{
    text-decoration: underline;
}

.submenu li{
    padding-top: 20px;
}

.submenu > ul{
    padding-left: 0px;
}

.img{
    position: relative;
    background-image: url("back1.png");
    height: 30vh;
    background-size: cover;
}

.img-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.img .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    z-index: 2;
    text-align: center;
    color: white;
}

.img .content a{
    text-decoration: none;
    color: white;
}

.info-menu ul{
    list-style: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate( -50%, 70% );
    box-shadow: 2px 2px 5px rgb(191, 191, 191);
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    padding-left: 0px;
    padding-right: 0px;
}

.info-menu a{
    text-decoration: none;
    color: inherit;
}

.info-menu li{
    width: 180px;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.info-sub{
    border-radius: 35px;
    box-shadow: 2px 2px 5px rgb(191, 191, 191);
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.info-sub li a:hover{
    text-decoration: underline;
}